body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
}

/*//////Welcome-Component//////*/
.parent-welcome-container {
border: 0.3rem solid rgb(233, 38, 38);
height: 100vh;
display: grid;
grid-template-areas:
        "head"
        "title"
        "main"
        "footer";
grid-template-rows: 15% 10% 70% 15%;

}

.parent-welcome-container header{
 border: 0.2rem solid black;
 grid-area: head;
}

.parent-welcome-container h1{
    border: 0.2rem solid black;
    grid-row-start: 2;
    grid-area: title;
    justify-self: center;
    height: 3rem;
}

.childs-welcome-container{
    border: 0.2rem solid black;
    grid-area: main;
    display: grid;
    grid-template-columns:40% 20% 40%;
    grid-template-rows: 5rem 3rem 3rem 20rem;
   
}

.childs-welcome-container h2 {
 grid-area: 1/2/2/2;
 justify-self: center;
}
.childs-welcome-container h3 {
 grid-area: 1/1/1/4;
 justify-self: center;
}

.childs-welcome-container a {
    grid-area: 2/2;
    justify-self: center;
    border: 0.1rem solid lightseagreen;
    text-align: center;
}

 #link-success-pw {
    grid-area: 2/1/3/4;
    justify-self: center;
    border: 0.1rem solid lightseagreen;
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
}

.childs-welcome-container .error {
    color:red;
    grid-area: 3/1/3/4;
    justify-self: center;
    border: 0.1rem solid lightseagreen;
}

.childs-welcome-container input {
height: 2rem;
}

.input-container {
    grid-area: 4/2 /10 /2;
    height: 2rem;
    justify-self: center;
    border: 1rem solid lightseagreen;
    height: 12rem;
    width: 10rem;
}

.childs-welcome-container button{
    height: 2rem;
    width: 10rem
}



/*/ ///// App-Component//////*/

.uploader {
    position: absolute;
    margin-top: 1rem;
    height: 10rem;
    width: 30rem;
    border: 0.1rem solid black;
    background-color: palevioletred;
}

.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head"
        "main main"
        "footer footer";
    grid-template-rows: 15% 80% 5%;
}

.app-container header {
    border: 0.1rem solid black;
    grid-area: head;
    height: 7rem;
    display: grid;
    grid-template-columns: 30% 50% 30%;
    grid-template-rows: 1;

}

.logo {
    border: 0.2rem solid black;
    background-color: lightseagreen;
    width: 10rem;
    height: 5rem;
    margin-left: 1rem;
    grid-area: 1/1;
}

header .find-people {
    border: 0.2rem solid rgb(15, 14, 14);
    grid-area: 1/2;
    width: 8rem;
    height: 2rem;
    justify-self: end;
    align-self:center;
    
}

header .profile-pic-container {
    height: 5rem;
    width: 6rem;
    grid-area: 1/3;
}

header .profile-pic-container img {
    border: 0.2rem solid rgb(15, 14, 14);
    height: 5rem;
    width: 5rem;
    margin-left: 100%;
    margin-top: 1rem;
    border-radius: 40px;
    object-fit: cover;
}

header .profile-pic-container p {
    height: 0.1;
    visibility: hidden;
}

.profile-container {
    border: 0.2rem solid seagreen;
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 10% 90%;
    margin-top: 0;
    
  
}
.profile-container h2{
    height: 3rem;
    border: 0.2rem solid blue;
    margin-top: 0;
    margin-bottom: 0;
}

.profile-container .profile-pic-container {
    border: 0.2rem solid blue;
    height: 20rem;
    width: 20rem;
    grid-column-start: 1;
    grid-column-end: 2;
}


.profile-pic-container img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    margin-top: 1rem;
  
}

.profile-pic-container p {
    margin: 1rem;
    border: 0.1rem solid blue;
}

.bio-editor-container {
    border: 0.2rem solid blue;
    grid-column-start: 2;
}

.other-profile-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 40% 50%;
    margin-left: 1rem;
    border: 0.2rem solid rgb(255, 0, 179);
    background-color: rgb(207, 204, 204);
}
.other-profile-container h2 {
    height: 3rem;
    margin-left: 3rem;
    grid-column: 1 /span 2;
}

.other-profile-container img {
    grid-column-start: 1;
    margin-left: 3rem;
    height: 12rem;
    width: 12rem;
    object-fit: contain;
    margin-top: 1rem;
}

.other-profile-container h3 {
    grid-area: 2 / 2;
    border: 0.2rem solid blue;
    height: 3rem;
    margin-right: 3rem;
}

.other-profile-container p {
    grid-area: 2 / 2;
    border: 0.2rem solid blue;
    height: 15rem;
    margin-top: 5rem;
    margin-right: 3rem;
}

.other-profile-container .error-other-profile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    grid-row-start: 1;
    margin-top: 0;
}

.other-profile-container .friend-button {
 border: 0.3rem solid black;
 height: 3rem;
 width: 10rem;
 grid-row-start: 3;
 grid-column-start:1;
 justify-self: center;
}

.find-people-container{
    border: 0.3rem solid black;
    grid-area: 2/1/3/3;
    display:grid;
    grid-template-columns: repeat(6, 20%);
    grid-template-rows: repeat(5, 25%);
}


.find-people-container h2{
 grid-area: 1/3/1/5;
}

.find-people-container input {
    justify-self: center;
    grid-area: 1/1/1/2;
    height: 2rem;
}

.find-people-container ul div {
    margin-top:0.5rem;
   justify-self:start;
    grid-area: 1/2/1/4;
    width: 10rem;
    height:10rem;
    
}
.find-people-container img{
   object-fit: contain; 
    width: 10rem;
    height:10rem;
     
}

