body {
    margin: 0;
    box-sizing: border-box;
}

/*//////Welcome-Component//////*/
.parent-welcome-container {
    /* border: 0.3rem solid rgb(233, 38, 38); */
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head"
        "title"
        "main"
        "footer";
    grid-template-rows: 13% 10% 75% 10%;
    font-family: "Open Sans Condensed";
    letter-spacing: 0.25rem;
    /* color:rgb(246, 230, 230); */
    color: rgb(36, 38, 44);
}

.parent-welcome-container header {
    /* border-bottom: 0.3rem solid rgb(138, 198, 219); */
    border-bottom: 0.2rem solid rgb(46, 102, 110);
    grid-area: head;
    background-color: white;
}

.parent-welcome-container {
    grid-area: title;
    
}


.parent-welcome-container h1 {
    /* border-top: 0.3rem solid rgb(246, 208, 20); */
  border-top: 0.3rem solid rgb(249, 195, 45);
    grid-row-start: 2;
    grid-area: title;
    justify-self: center;
    height: 4rem;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.childs-welcome-container {
    /* border: 0.2rem solid black; */
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 5rem 3rem 3rem 20rem 3rem;
    background-color: rgb(229, 232, 229); 
    border-top: 0.1rem solid  rgb(46, 102, 110);
    border-bottom: 0.1rem solid  rgb(46, 102, 110);
}

.childs-welcome-container h2 {
    grid-area: 1/2/2/2;
    justify-self: center;
}
.childs-welcome-container h3 {
    grid-area: 1/1/1/4;
    justify-self: center;
}

.childs-welcome-container a {
    grid-area: 2/2;
    justify-self: center;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    color: black;
}

.childs-welcome-container .error {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: 3/1/3/4;
    justify-self: center;
    align-content:flex-start;
}


.input-container {
    border-style: double;
    grid-area: 4/2 /10 /2;
    justify-self: center;
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(169, 198, 200);
   border: 0.2rem solid rgb(184, 152, 91); */
    background-color: rgb(46, 102, 110);
    border: 0.2rem solid rgb(248, 18, 6); 

}

.childs-welcome-container input {
    height: 2.5rem;
    width: 10rem;
    border: 0.1rem solid black;
    align-self: center;
    justify-self: center;

}

.childs-welcome-container button {
    height: 3rem;
    width: 10rem;
    align-self: center;
}

#link-success-pw {
    grid-area: 2/1/3/4;
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
}

/*/ ///// App-Component//////*/

.uploader {
    position: absolute;
    margin-top: 1rem;
    height: 10rem;
    width: 30rem;
    border: 0.1rem solid black;
    background-color: palevioletred;
}

.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head"
        "main main"
        "footer footer";
    grid-template-rows: 15% 80% 5%;
}

.app-container header {
    border: 0.1rem solid black;
    grid-area: head;
    height: 7rem;
    display: grid;
    grid-template-columns: 30% 50% 30%;
    grid-template-rows: 1;
}

.logo {
    /* border: 0.1rem solid black; */
    background-color: lightseagreen;
    width: 6rem;
    height: 5rem;
    margin-left: 1rem;
    grid-area: 1/1;
    margin-top: 0.2rem;
}

header .chat {
    grid-area: 1/2;
    align-self: center;
    border: 0.2rem solid rgb(15, 14, 14);
    width: 8rem;
    height: 2rem;
}

header .find-people {
    border: 0.2rem solid rgb(15, 14, 14);
    grid-area: 1/2;
    width: 8rem;
    height: 2rem;
    justify-self: end;
    align-self: center;
}

header .friends {
    border: 0.2rem solid rgb(15, 14, 14);
    grid-area: 1/2;
    width: 8rem;
    height: 2rem;
    justify-self: center;
    align-self: center;
}

header .profile-pic-container {
    height: 5rem;
    width: 6rem;
    grid-area: 1/3;
}

header .profile-pic-container img {
    border: 0.2rem solid rgb(15, 14, 14);
    height: 5rem;
    width: 5rem;
    margin-left: 100%;
    margin-top: 1rem;
    border-radius: 40px;
    object-fit: cover;
}

header .profile-pic-container p {
    height: 0.1;
    visibility: hidden;
}

.profile-container {
    border: 0.2rem solid seagreen;
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 10% 90%;
    margin-top: 0;
}
.profile-container h2 {
    height: 3rem;
    border: 0.2rem solid blue;
    margin-top: 0;
    margin-bottom: 0;
}

.profile-container .profile-pic-container {
    border: 0.2rem solid blue;
    height: 20rem;
    width: 20rem;
    grid-column-start: 1;
    grid-column-end: 2;
}

.profile-pic-container img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    margin-top: 1rem;
}

.profile-pic-container p {
    margin: 1rem;
    border: 0.1rem solid blue;
}

.bio-editor-container {
    border: 0.2rem solid blue;
    grid-column-start: 2;
}

.other-profile-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 40% 50%;
    margin-left: 1rem;
    border: 0.2rem solid rgb(255, 0, 179);
    background-color: rgb(207, 204, 204);
}
.other-profile-container h2 {
    height: 3rem;
    margin-left: 3rem;
    grid-column: 1 / span 2;
}

.other-profile-container img {
    grid-column-start: 1;
    margin-left: 3rem;
    height: 12rem;
    width: 12rem;
    object-fit: contain;
    margin-top: 1rem;
}

.other-profile-container h3 {
    grid-area: 2 / 2;
    border: 0.2rem solid blue;
    height: 3rem;
    margin-right: 3rem;
}

.other-profile-container p {
    grid-area: 2 / 2;
    border: 0.2rem solid blue;
    height: 15rem;
    margin-top: 5rem;
    margin-right: 3rem;
}

.other-profile-container .error-other-profile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    grid-row-start: 1;
    margin-top: 0;
}

.other-profile-container .friend-button {
    border: 0.3rem solid black;
    height: 3rem;
    width: 10rem;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-self: center;
}

.find-people-container {
    border: 0.3rem solid black;
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(6, 20%);
    grid-template-rows: repeat(5, 25%);
}

.find-people-container h2 {
    grid-area: 1/3/1/5;
}

.find-people-container input {
    justify-self: center;
    grid-area: 1/1/1/2;
    height: 2rem;
}

.find-people-container ul div {
    margin-top: 0.5rem;
    justify-self: start;
    grid-area: 1/2/1/4;
    width: 10rem;
    height: 10rem;
}
.find-people-container img {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
}

.chat-container {
    border: 0.1rem solid rgb(7, 7, 7);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.chat-container h1 {
    text-align: center;
}

.chat-messages {
    border: 0.1rem solid black;
    width: 70%;
    height: 20rem;
    align-self: center;
    flex-basis: fit-content;
}

.messages {
    border: 0.1rem solid black;
}

.chat-container textarea {
    margin-top: 1rem;
    border: 0.1rem solid black;
    width: 70%;
    height: 6rem;
    justify-content: center;
    align-self: center;
}

.chat-container img {
    border: 0.2rem solid rgb(15, 14, 14);
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    border-radius: 40px;
    object-fit: cover;
}

.chat-container button {
    height: 2rem;
    width: 5rem;
    align-self: center;
}
