body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
}

.uploader {
    position: absolute;
    margin-top: 1rem;
    height: 10rem;
    width: 30rem;
    border: 0.1rem solid black;
    background-color:palevioletred;
}

.app-container{
    display: grid;
    grid-template-areas: "head head"
                          "main main"
                          "footer footer";
    grid-template-rows: 20% 77% 8%;
    
}

header {
    border: 0.1rem solid black;
    grid-area: head;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1;
    
}
 #header-profile-pic{
    width: 10rem;
    grid-column: 3 / span 4;
}

 #header-profile-pic img {
    border: 0.2rem solid red;
    height:10rem;
    width: 10rem;
}

.logo {
    border: 0.2rem solid black;
    background-color: lightseagreen;
    width: 10rem;
    height: 5rem;
    margin-left: 2rem;
}

.profile-container{
    border: 0.2rem solid seagreen;
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
   
}


.profile-container .profile-pic-container {
    border: 0.2rem solid blue;
    height: 20rem;
    width: 20rem;
    grid-column-start: 1;
    grid-column-end: 2;
}

.profile-pic-container img{
    height: 15rem;
    width: 15rem;
}

.profile-pic-container p{
    margin: 1rem;
    border: 0.1rem solid blue;
}

.bio-editor-container{
      border: 0.2rem solid blue;
         grid-column-start: 2;
}