body {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock'; */
    font-family: "Archivo Black", sans-serif;
}

/*//////Welcome-Component//////*/
.parent-welcome-container {
    border: 0.3rem solid black;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "footer";
    grid-template-rows: 14% 10% 75% 10%;
}

.parent-welcome-container header {
    grid-area: head;
    display: grid;
    grid-template-columns: 60% 40%;
}

.parent-welcome-container header h1 {
    color: #032b75;
    letter-spacing: 0.1rem;
    justify-self: center;
    align-self: center;
    font-size: 3.1rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.childs-welcome-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5rem 3rem 3rem 25rem;
    /* background-color: #018a76; */
    background-color: #032b75;
    color: white;
}

.work-img {
    height: 38rem;
    width: 38rem;
    grid-area: 1/1/4/1;
    justify-self: center;
}

.childs-welcome-container h2 {
    grid-area: 1/2/2/2;
    justify-self: center;
    align-self: center;
    margin: 0;
}
.childs-welcome-container h3 {
    grid-area: 1/1/1/4;
    justify-self: center;
    letter-spacing: 0.1rem;
    font-size: 1.5;
}

.childs-welcome-container a {
    grid-area: 2/2/2/4;
    justify-self: center;
    text-align: center;
    color: white;
    font-family: "Archivo Black";
    font-size: 1rem;
    margin: 0.1rem;
}

.childs-welcome-container .error {
    color: #dc0c61;
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: 3/2/3/4;
    justify-self: center;
    align-self: center;
}

.input-container {
    grid-area: 4/2 /10 /2;
    justify-self: center;
    height: 21rem;
    width: 15rem;
    display: grid;
    align-items: center;
    border-radius: 10px;

    background-color: white;
}

.childs-welcome-container input {
    height: 1.5rem;
    width: 12rem;
    justify-self: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 0.2rem solid #032b75;
    color: #032b75;
    background-color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 1rem;
}

.childs-welcome-container button {
    height: 3rem;
    width: 8rem;
    justify-self: center;
    border: hidden;
    border-radius: 8px;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2rem;
    color: #032b75;
}

#h3-reset-password {
    font-size: 1.2rem;
    letter-spacing: 0;
    justify-self: end;
    margin-right: 2rem;
}

#reset-password {
    grid-area: 4/2 /10 /2;
    height: 13rem;
}
#h2-reset-pw {
    grid-area: 2/2 /2/2;
    align-self: center;
    justify-self: center;
}
#h2-success {
    color: #018a76;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#link-success-pw {
    grid-area: 2/2/3/3;
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

/*/ ///// App-Component//////*/

.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head"
        "main main"
        "footer footer";
    grid-template-rows: 6rem 80% 5%;
}

.app-container header {
    grid-area: head;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1;
}

.navbar {
    height: 1rem;
    align-self: end;
    justify-self: center;
    border-bottom: 0;
    padding: 0;
    grid-area: 1/2/1/2;
}

.navbar li {
    /* border: 0.1rem solid rgb(46, 102, 110); */
    height: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0;
    display: inline-block;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 0.5;
    font-weight: bold;
}

.navbar li a {
    color: #032b75;
    font-family: Verdana;
    letter-spacing: 0;
    font-size: 0.9rem;
}

.logo {
    /* border: 0.1rem solid black; */
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    grid-area: 1/1;
    border-radius: 9px;
}

header .profile-pic-container {
    height: 5rem;
    width: 5rem;
    grid-area: 1/3;
    /* border: 0.1rem solid black; */
    justify-self: end;
    margin-right: 1rem;
    margin-top: 0.7rem;
}

header .profile-pic-container img {
    border: 0.13rem solid #032b75;
    height: 4.7rem;
    width: 4.7rem;
    border-radius: 40px;
    object-fit: cover;
    margin: 0;
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
}

header .profile-pic-container p {
    height: 0.1;
    visibility: hidden;
}

.uploader {
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;
    width: 30rem;
    border: 0.1rem solid black;
    background-color: #dc0c61;
}

.uploader h3 {
    text-align: center;
}

.uploader input {
    margin-left: 5rem;
}

#close {
    width: 2rem;
    text-align: center;
    font-weight: bold;
    margin-left: 94%;
}

.mainPage {
    background-color: #032b75;
    grid-area: 3/1/2/2;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.mainPage div {
    height: 15rem;
    width: 15rem;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}

.mainPage a {
    text-align: center;
    color: #032b75;
}

a:link {
    text-decoration: none;
}

.main1 {
    grid-area: 1/1;
    background-color: #018a76;
    align-self: end;
    justify-self: end;
}

.main2 {
    grid-area: 1/2;
    background-color: #ede7e7;
    align-self: end;
    justify-self: start;
}

.main3 {
    grid-area: 2/1;
    background-color: #ffb300;
    align-self: start;
    justify-self: end;
}

.main4 {
    grid-area: 2/2;
    background-color: #dc0c61;
}

.profile-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 10% 90%;
    margin-top: 0;
    background-color: #018a76;
    margin-top: 0.1rem;
    color: #032b75;
}

.profile-container h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.profile-container .profile-pic-container {
    margin-top: 2rem;
    height: 20rem;
    width: 20rem;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

.profile-pic-container img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    margin-top: 1rem;

    margin-bottom: 2rem;

    background-color: #ffb300;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.profile-pic-container p {
    margin: 1rem;
    border: 0.1rem solid rgb(46, 102, 110);
    text-align: center;
    background-color: white;
    letter-spacing: 0;
    border-radius: 0.4rem;
}

.bio-editor-container {
    border: 0.15rem solid rgb(46, 102, 110);
    /* border: 0.2rem solid rgb(195, 9, 6); */
    grid-column-start: 2;
    margin: 3rem;
    width: 30rem;
    height: 20rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: #fff;
    border-radius: 1rem;
}

.bio-editor-container .error {
    color: rgb(165, 6, 85);
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.bio-editor-container h1 {
    margin-left: 2rem;
}
.bio-editor-container textarea {
    height: 5rem;
    width: 25rem;
    margin: 1rem;
    border: 0.1rem solid rgb(46, 102, 110);
    border-radius: 0.3rem;
}
.bio-editor-container p {
    margin-left: 2rem;
    width: 24rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1;
    line-break: anywhere;
    border: 0.1rem solid rgb(46, 102, 110);
    border-radius: 0.3rem;
}

.bio-editor-container button {
    margin-left: 2rem;
    border: 0.1rem solid rgb(46, 102, 110);
    background-color: #fff;
    border-radius: 5px;
}

.other-profile-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 55% 35%;
    border-bottom: 0.15rem solid rgb(2, 32, 69);
    border-top: 0.15rem solid rgb(2, 32, 69);
    background-color: rgb(235, 244, 247);
    margin-top: 0.1rem;
}

.other-profile-container img {
    grid-area: 2/1;
    margin-top: 3rem;
    margin-bottom: 0rem;
    height: 13rem;
    width: 15rem;
    object-fit: contain;
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    border: 0.2rem solid rgb(5, 57, 94);
    background-color: rgb(2, 32, 69);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.other-profile-container h3 {
    grid-area: 2 / 2;
    font-weight: bold;
    font-size: 1.4rem;
    height: 3rem;
    margin-left: 1rem;
}

.other-profile-container p {
    grid-area: 2 / 2;
    border: 0.15rem solid rgb(5, 57, 94);
    height: 15rem;
    margin-top: 5rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.other-profile-container .error-other-profile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: #dc0c61;
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.5rem;
    grid-row-start: 1;
    margin-top: 0;
    background-color: white;
}
.error-other-profile a {
    color: #dc0c61;
}

#friend-button {
    border: 0.13rem solid rgb(2, 32, 69);
    height: 2rem;
    width: 10rem;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-self: center;
    background-color: rgb(237, 244, 250);
    color: rgb(6, 4, 86);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

.find-people-container {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    /* border-bottom: 0.15rem solid rgb(0, 118, 26); */
    border-top: 0.15rem solid rgb(33, 179, 65);
    /* background-color: rgb(240, 249, 241); */
    margin-top: 0.1rem;
}

.find-people-container h2 {
    grid-area: 1/1/1/2;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    height: 4rem;
    justify-self: center;
    align-self: center;
    color: rgb(50, 111, 75);
}

.find-people-container input {
    margin-left: 1rem;
    grid-area: 1/2/1/2;
    height: 1.5rem;
    width: 10rem;
    justify-self: start;
    align-self: center;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    /* border: 0.15rem solid rgb(15, 103, 117); */
    /* border-radius: 0.3rem; */
    /* box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3); */
    border-bottom: 0.18rem solid rgb(50, 111, 75);
    color: rgb(4, 67, 77);
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1rem;
}

.find-people-container div {
    border: 0.1rem solid rgb(50, 111, 75);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 8rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: rgb(241, 244, 244);
}

.find-people-container ul {
    align-self: center;
    justify-self: start;
    width: 10rem;
    height: 10rem;
    grid-area: 1/3/1/4;
    padding: 0;
}

.find-people-container img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    justify-self: center;
    align-self: center;
    border: 0.12rem solid rgb(50, 111, 75);
    background-color: rgb(32, 111, 66);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.find-people-container .error {
    grid-area: 1/2;
    justify-self: start;
    align-self: end;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(165, 6, 85);
}

.no-results {
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(4, 67, 77);
    grid-area: 1/2;
    justify-self: start;
    align-self: end;
    height: 3rem;
    margin-left: 2.5rem;
}

.friends-container {
    display: grid;
    grid-template-rows: 5rem 15rem 15rem 15rem;
    padding-left: 2rem;
    margin-top: 0;
    border-top: 0.15rem solid rgb(104, 167, 167);
    width: 100vw;
    margin-top: 0.1rem;
}

.friends-container h1 {
    grid-area: 1/1;
    font-weight: bold;
    margin-left: 2rem;
    /* border: 0.1rem solid rgb(5, 91, 104); */
}

.friends-container img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border: 0.11rem solid rgb(7, 40, 77);
    background-color: rgb(7, 42, 50);
    margin: 1rem;
    border-radius: 6px;
}
.friends-container p {
    letter-spacing: 0.1rem;
    text-align: center;
}

.friends-container button {
    color: rgb(0, 17, 20);
    background-color: rgb(221, 233, 237);
    border-radius: 2px;
    border: 0.1rem solid rgb(7, 1, 60);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

#wannabes-accept {
    grid-area: 2/1/2/3;
    display: flex;
}

#wannabes-cancel {
    grid-area: 3/1/3/3;
    display: flex;
}

#friends {
    grid-area: 4/1/4/3;
    display: flex;
}

.friend {
    border: 0.12rem solid rgb(7, 40, 77);
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(1, 42, 32, 0.3);
    border-radius: 6px;
    background-color: rgb(248, 250, 251);
}

.chat-component {
    margin-top: 0.1rem;
    color: #dc0c61;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 65% 25%;
    background-color: #032b75;
}

.chat-component h1 {
    text-align: center;
    grid-area: 1/2/1/2;
}

.chat-messages {
    grid-area: 2/2/2/2;
    width: 80%;
    align-self: center;
    justify-self: center;
    overflow-y: scroll;
    height: 20rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: #fff;
    border: 0.5rem solid #018a76;
    color: black;
}

#messages {
    border: 1px solid #dc0c61;
    width: auto;
    display: grid;
    grid-template-columns: 95% 5%;
    margin-bottom: 0.5rem;
}
#messages p {
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: 0;
}

#date {
    font-size: 0.9rem;
}
#messages img {
    border: 0.2rem solid rgb(15, 14, 14);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 40px;
    object-fit: cover;
    grid-area: 1/2;
}
.online-chat {
    grid-area: 2/1/3/1;
    background-color: #018a76;
    height: 80%;
    margin: 1rem;
}

.chat-component textarea {
    margin-top: 1rem;
    border: 0.5rem solid #018a76;
    width: 50%;
    height: 6rem;
    justify-self: center;
    align-self: center;
    border-radius: 0.3rem;
    grid-area: 3/2/3/2;
}

.whiteboard-container {
    height: 100vh;
    width: 100vw;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 7% 10% 7% 60% 10%;
    align-items: start;
    background-color: #032b75;
}

#onliners-whiteboard {
    grid-area: 2/2/2/2;
}

#onliners-whiteboard div {
    display: flex;
    align-items: flex-start;
}

.whiteboard-container h1 {
    grid-area: 1/2/1/2;
    letter-spacing: 0.3rem;
}

.tools-container {
    display: flex;
    grid-area: 3/2/3/2;
    color: white;
    height: 1.5rem;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.tool {
    margin-left: 1rem;
    width: 10rem;
}

#brush {
    margin-top: 0.3rem;
}

#is-drawing {
    text-align: center;
    margin-top: 23px;
    color: #dc0c61;
    display: flex;
    justify-items: center;
    align-items: center;
}

#is-drawing p {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.tools-container img{
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}

.drawing-surface {
    grid-area: 4/2/4/2;
    height: 400px;
    width: 800px;
    margin-right: 2rem;
    border-radius: 5px;

    margin-top: 1rem;
}

canvas {
    background-color: #fff;
}

.whiteboard-container button {
    background-color: #dc0c61;
    height: 2rem;
    font-family: "Archivo Black";
    border-radius: 5px;
    color: white;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.latest-whitebaords h3 {
    margin-left: 1.5rem;
}

.latest-whitebaords {
    grid-area: 4/1;
    height: 450px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 10rem;
    border-radius: 3px;
    background-color: #018a76;
    margin-left: 3rem;
    margin-top: 1rem;
}

.whiteboard {
    text-align: left;
    height: 5rem;
    margin-left: 1.5rem;
    width: 10rem;

    margin-right: 1rem;
}

.latest-whitebaords p {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.latest-whitebaords img {
    height: 3rem;
    width: 3rem;
    border: 0.1rem solid white;
    background-color: #fff;
    border-radius: 5px;
}

.latest-whitebaords button {
    height: 1.5rem;
    width: 3.3rem;
    font-size: 0.9rem;
    font-family: Cambria;
}

.texteditor-container {
    background-color: #032b75;
    width: 100vw;
    font-family: Cambria serif;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 10% 10% 70% 10%;
    align-items: start;
    color: white;
}
.texteditor-container h1 {
    grid-area: 1/2/1/2;
    margin-left: 2rem;
}
.texteditor-container button {
    grid-area: 4/2/4/2;
    width: 5rem;
    justify-self: center;
    color: white;
    font-size: 0.9rem;
    padding: 0;
    margin-left: 0.4rem;
    background-color: #032b75;
    border-radius: 5px;
}

#online-texteditor {
    grid-area: 2/2/2/2;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#online-texteditor div {
    display: flex;
}
.texteditor-container textarea {
    height: 330px;
    width: 1000px;
    grid-area: 3/2/3/2;
    margin-left: 2rem;
    align-self: center;
    margin-top: 1rem;
}

.latest-textes {
    border: 0.8rem solid white;
    grid-area: 3/1/3/1;
    margin-left: 1.5rem;
    padding: 0.5rem;
    height: 350px;
}
.latest-textes button {
    height: 1.5rem;
    width: 3.3rem;
    font-size: 0.9rem;
    padding: 0;
    margin-left: 0.4rem;
    background-color: #032b75;
    border-radius: 5px;
}

/* .edit-area {
    grid-area: 2/2/2/2;
    border: 0.3rem solid rgb(15, 47, 232);
    font-family: Cambria serif;
    height: 70vh;
}*/

.text-saved {
    height: 1.5rem;
    grid-area: 1/1/1/1;
    align-self: center;
    justify-self: center;
    color: #ffb300;
    font-size: 1.5rem;
}

.drawing-user {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
}

.online-user {
    border: 0.1rem solid white;
    margin: 1rem;
    width: 3.5rem;
    font-family: Cambria;
    border-radius: 50px;
    background-color: #fff;
}

.online-user img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50px;
    background-color: #ffb300;
}
