body {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock'; */
    font-family: "Boogaloo", cursive;
}

/*//////Welcome-Component//////*/
.parent-welcome-container {
    border: 0.3rem solid black;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head"
        "title"
        "main"
        "footer";
    grid-template-rows: 14% 10% 75% 10%;
}

.parent-welcome-container header {
    border-bottom: 0.2rem solid black;
    grid-area: head;
}

.parent-welcome-container h1 {
    color: rgb(205, 45, 101);
    grid-row-start: 2;
    grid-area: title;
    height: 2rem;
    width: 100%;
    text-align: center;
    justify-self: start;
    letter-spacing: 0.2rem;
}

.childs-welcome-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 5rem 3rem 3rem 20rem 3rem;
    /* border-top: 0.1rem solid rgb(46, 102, 110);
    border-bottom: 0.1rem solid rgb(46, 102, 110);
    background-color: rgb(252, 252, 236); */
}

.childs-welcome-container h2 {
    grid-area: 1/2/2/2;
    justify-self: center;
}
.childs-welcome-container h3 {
    grid-area: 1/1/1/4;
    justify-self: center;
    letter-spacing: 0.1rem;
    font-size: 1.5;
}

.childs-welcome-container a {
    grid-area: 2/1/2/4;
    justify-self: center;
    text-align: center;
    color: black;
}

.childs-welcome-container .error {
    color: rgb(251, 10, 10);
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: 3/1/3/4;
    justify-self: center;
    align-self: center;
}

.input-container {
    grid-area: 4/2 /10 /2;
    justify-self: center;
    height: 21rem;
    width: 15rem;
    display: grid;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 14px 28px rgba(65, 64, 51, 0.3);
    border: 0.12rem solid black;
    /* border: 0.12rem solid rgb(240, 182, 23); */
    /* background-color: white; */
}

.childs-welcome-container input {
    height: 1.5rem;
    width: 12rem;
    justify-self: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    /* border-bottom: 0.12rem solid rgb(240, 182, 23); */

    background-color: white;
    color: rgb(2, 55, 12);
    font-size: 1rem;
}

.childs-welcome-container button {
    height: 2rem;
    width: 6rem;
    justify-self: center;
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
    border: hidden;
    border-radius: 4px;
    /* background-color: rgb(252, 246, 216); */

    font-size: 1rem;
}

#h3-reset-password {
    font-size: 1.5rem;
    font-weight: bold;
}

#reset-password {
    grid-area: 3/2 /10 /2;
    height: 13rem;
    border: 0.12rem solid rgb(46, 102, 110);
}

#h2-success {
    color: rgb(50, 145, 61);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#link-success-pw {
    grid-area: 2/1/3/4;
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

/*/ ///// App-Component//////*/

.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head"
        "main main"
        "footer footer";
    grid-template-rows: 6rem 80% 5%;
}

.app-container header {
    grid-area: head;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1;
    border-bottom: 0.2rem solid rgb(46, 102, 110);
    /* border-bottom: 0.2rem solid rgb(26, 65, 181); */
    /* border-bottom: 0.3rem solid rgb(18, 150, 171); */
}

.navbar {
    border-bottom: green;
    height: 1rem;
    align-self: end;
    justify-self: center;
    border-bottom: 0;
    padding: 0;
}

.navbar li {
    /* border: 0.1rem solid rgb(46, 102, 110); */
    height: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0;
    display: inline-block;
    color: rgb(4, 67, 77);
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 0.5;
    font-weight: bold;
}

.navbar li a {
    color: rgb(4, 67, 77);
}

.logo {
    /* border: 0.1rem solid black; */
    width: 5rem;
    height: 5.2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    grid-area: 1/1;
    border-radius: 9px;
}

header .profile-pic-container {
    height: 5rem;
    width: 5rem;
    grid-area: 1/1;
    /* border: 0.1rem solid black; */

    justify-self: end;
    margin-right: 1rem;
    margin-top: 0.7rem;
}

header .profile-pic-container img {
    border: 0.13rem solid rgb(3, 18, 94);
    height: 4.7rem;
    width: 4.7rem;
    border-radius: 40px;
    object-fit: cover;
    margin: 0;
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
}

header .profile-pic-container p {
    height: 0.1;
    visibility: hidden;
}

.uploader {
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;
    width: 30rem;
    border: 0.1rem solid black;
    background-color: rgb(196, 154, 168);
}

.uploader h3 {
    text-align: center;
}

.uploader input {
    margin-left: 5rem;
}

#close {
    width: 2rem;
    text-align: center;
    font-weight: bold;
    margin-left: 94%;
}

.profile-container {
    border-bottom: 0.15rem solid rgb(46, 102, 110);
    border-top: 0.15rem solid rgb(46, 102, 110);
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 10% 90%;
    margin-top: 0;
    background-color: rgb(239, 247, 239);
    margin-top: 0.1rem;
}
.profile-container h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.profile-container .profile-pic-container {
    margin-top: 2rem;
    height: 20rem;
    width: 20rem;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

.profile-pic-container img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    margin-top: 1rem;
    border: 0.15rem solid rgb(46, 102, 110);

    margin-bottom: 2rem;
    background-color: #fff;
    background-color: rgb(33, 62, 67);
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.profile-pic-container p {
    margin: 1rem;
    border: 0.1rem solid rgb(46, 102, 110);
    text-align: center;
    background-color: white;
    letter-spacing: 0;
    border-radius: 0.4rem;
}

.bio-editor-container {
    border: 0.15rem solid rgb(46, 102, 110);
    /* border: 0.2rem solid rgb(195, 9, 6); */
    grid-column-start: 1;
    margin: 3rem;
    width: 30rem;
    height: 20rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: #fff;
    border-radius: 1rem;
}

.bio-editor-container .error {
    color: rgb(165, 6, 85);
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.bio-editor-container h1 {
    margin-left: 2rem;
}
.bio-editor-container textarea {
    height: 5rem;
    width: 25rem;
    margin: 1rem;
    border: 0.1rem solid rgb(46, 102, 110);
    border-radius: 0.3rem;
}
.bio-editor-container p {
    margin-left: 2rem;
    width: 24rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1;
    line-break: anywhere;
    border: 0.1rem solid rgb(46, 102, 110);
    border-radius: 0.3rem;
}

.bio-editor-container button {
    margin-left: 2rem;
    border: 0.1rem solid rgb(46, 102, 110);
    background-color: #fff;
    border-radius: 5px;
}

.other-profile-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 55% 35%;
    border-bottom: 0.15rem solid rgb(2, 32, 69);
    border-top: 0.15rem solid rgb(2, 32, 69);
    background-color: rgb(235, 244, 247);
    margin-top: 0.1rem;
}

.other-profile-container img {
    grid-area: 2/1;
    margin-top: 3rem;
    margin-bottom: 0rem;
    height: 13rem;
    width: 15rem;
    object-fit: contain;
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    border: 0.2rem solid rgb(5, 57, 94);
    background-color: rgb(2, 32, 69);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.other-profile-container h3 {
    grid-area: 2 / 2;
    font-weight: bold;
    font-size: 1.4rem;
    height: 3rem;
    margin-left: 1rem;
}

.other-profile-container p {
    grid-area: 2 / 2;
    border: 0.15rem solid rgb(5, 57, 94);
    height: 15rem;
    margin-top: 5rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.other-profile-container .error-other-profile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: rgb(165, 6, 85);
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.5rem;
    grid-row-start: 1;
    margin-top: 0;
    background-color: white;
}
.error-other-profile a {
    color: rgb(165, 6, 85);
}

#friend-button {
    border: 0.13rem solid rgb(2, 32, 69);
    height: 2rem;
    width: 10rem;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-self: center;
    background-color: rgb(237, 244, 250);
    color: rgb(6, 4, 86);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

.find-people-container {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    /* border-bottom: 0.15rem solid rgb(0, 118, 26); */
    border-top: 0.15rem solid rgb(33, 179, 65);
    /* background-color: rgb(240, 249, 241); */
    margin-top: 0.1rem;
}

.find-people-container h2 {
    grid-area: 1/1/1/2;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    height: 4rem;
    justify-self: center;
    align-self: center;
    color: rgb(50, 111, 75);
}

.find-people-container input {
    margin-left: 1rem;
    grid-area: 1/2/1/2;
    height: 1.5rem;
    width: 10rem;
    justify-self: start;
    align-self: center;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    /* border: 0.15rem solid rgb(15, 103, 117); */
    /* border-radius: 0.3rem; */
    /* box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3); */
    border-bottom: 0.18rem solid rgb(50, 111, 75);
    color: rgb(4, 67, 77);
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1rem;
}

.find-people-container div {
    border: 0.1rem solid rgb(50, 111, 75);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 8rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: rgb(241, 244, 244);
}

.find-people-container ul {
    align-self: center;
    justify-self: start;
    width: 10rem;
    height: 10rem;
    grid-area: 1/3/1/4;
    padding: 0;
}

.find-people-container img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    justify-self: center;
    align-self: center;
    border: 0.12rem solid rgb(50, 111, 75);
    background-color: rgb(32, 111, 66);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}

.find-people-container .error {
    grid-area: 1/2;
    justify-self: start;
    align-self: end;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(165, 6, 85);
}

.no-results {
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(4, 67, 77);
    grid-area: 1/2;
    justify-self: start;
    align-self: end;
    height: 3rem;
    margin-left: 2.5rem;
}

.friends-container {
    display: grid;
    grid-template-rows: 5rem 15rem 15rem 15rem;
    padding-left: 2rem;
    margin-top: 0;
    border-top: 0.15rem solid rgb(104, 167, 167);
    width: 100vw;
    margin-top: 0.1rem;
}

.friends-container h1 {
    grid-area: 1/1;
    font-weight: bold;
    margin-left: 2rem;
    /* border: 0.1rem solid rgb(5, 91, 104); */
}

.friends-container img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border: 0.11rem solid rgb(7, 40, 77);
    background-color: rgb(7, 42, 50);
    margin: 1rem;
    border-radius: 6px;
}
.friends-container p {
    letter-spacing: 0.1rem;
    text-align: center;
}

.friends-container button {
    color: rgb(0, 17, 20);
    background-color: rgb(221, 233, 237);
    border-radius: 2px;
    border: 0.1rem solid rgb(7, 1, 60);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

#wannabes-accept {
    grid-area: 2/1/2/3;
    display: flex;
}

#wannabes-cancel {
    grid-area: 3/1/3/3;
    display: flex;
}

#friends {
    grid-area: 4/1/4/3;
    display: flex;
}

.friend {
    border: 0.12rem solid rgb(7, 40, 77);
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(1, 42, 32, 0.3);
    border-radius: 6px;
    background-color: rgb(248, 250, 251);
}

.chat-component {
    margin-top: 0.1rem;
    border-top: 0.13rem solid rgb(122, 0, 71);
    /* border-top: 0.15rem solid rgb(190, 8, 114); */
    border-bottom: 0.15rem solid rgb(122, 0, 71);
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 254, 254);
}

.chat-component h1 {
    text-align: center;
}

.chat-messages {
    border: 0.1rem solid rgb(122, 0, 71);
    width: 50%;
    align-self: center;
    overflow-y: scroll;
    height: 20rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
    background-color: #fff;
}

#messages {
    border: 1px solid rgb(122, 0, 71);
    width: auto;
    display: grid;
    grid-template-columns: 95% 5%;
    margin-bottom: 0.5rem;
}
#messages p {
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: 0;
}

#date {
    font-size: 0.9rem;
}
#messages img {
    border: 0.2rem solid rgb(15, 14, 14);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 40px;
    object-fit: cover;
    grid-area: 1/2;
}

.chat-component textarea {
    margin-top: 1rem;
    border: 0.1rem solid rgb(122, 0, 71);
    width: 50%;
    height: 6rem;
    justify-content: center;
    align-self: center;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px rgba(86, 90, 81, 0.3);
}
.chat-component button {
    color: rgb(1, 46, 53);
    background-color: rgb(245, 247, 243);
    border-radius: 2px;
    border: 0.1rem solid rgb(7, 1, 60);
    align-self: center;
}

.whiteboard-container {
    height: 100vh;
    width: 100vw;
    border: 0.1rem solid black;
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 10% 80%;
    align-items: start;
}

.whiteboard-container h1 {
    grid-area: 1/2/1/2;
}

.tools-container {
    border: 0.3rem solid rgb(49, 93, 53);
    display: flex;
    grid-area: 2/2/2/2;
}

.tool {
    border: 0.1rem solid rgb(0, 0, 0);
    margin-left: 2rem;
    width: 8rem;
}

.drawing-surface {
    border: 0.3rem solid rgb(15, 47, 232);
    grid-area: 3/2/3/2;
    height: 70%;
    width: 90%;
    margin-right: 2rem;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.whiteboard-container button {
    background-color: white;
}

.latest-whitebaords {
    border: 0.3rem solid rgb(15, 47, 232);
    height: 30rem;
}

.latest-whitebaords div {
    border: 0.3rem solid rgb(15, 47, 232);
    height: 5rem;
    margin-left: 0rem;
}

.latest-whitebaords img {
    height: 3rem;
    width: 3rem;
}

.texteditor {
    border: 0.3rem solid rgb(15, 47, 232);
    width: 100vw;
    font-family: Cambria serif;
}
